
$fuente-principal: 'Mukta', sans-serif;
$fuente-Secundaria: 'Fira Sans Condensed', sans-serif;
$color-secundario: rgba(245, 245, 245, 70%);
$color-primario: #4586bf;
$color-extra: #F5F5F5;
$color-tarjeta: #4586bfd7;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-extra);
}


li {
    list-style: none;

}

body {
    font-family: 'Mukta', sans-serif;
}

