//------------------------------------------------------------------ pagina index----------------------------------------------------------


@media (min-width:769px) and (max-width:1024px) {

    .carouselInfo {
        width: 25%;

        h1 {
            margin-left: 30px;
            margin-top: 20px;
            text-transform: uppercase;
            color: $color-primario;
            font-family: $fuente-Secundaria;
            margin-bottom: 8px;
            font-size: 34px;
            font-style: Bolder;
        }

        .carouselInfo__btn {
            margin-left: 35px;
            margin-top: 20px;
            gap: 15px;

            button {
                font-size: 18px;
            }

        }


    }
}

@media(min-width:1025px) {


    .carouselInfo {
        width: 24%;

        h1 {
            margin-left: 60px;
            margin-top: 50px;
            text-transform: uppercase;
            color: $color-primario;
            font-family: $fuente-Secundaria;
            margin-bottom: 8px;
            font-size: 38px;
            font-style: Bolder;
        }

        .carouselInfo__btn {
            margin-left: 55px;
            margin-top: 20px;
            gap: 15px;

            button {
                padding: 10px;
                border-radius: 10px;
                font-size: 20px;
            }

        }

    }
}


@media (min-width:769px) and (max-width:1024px) {

    .infoNosotros {
        display: grid;
        grid-area: "texto""imagen"
            "texto""imagen";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;

        .infoNosotros__texto p {

            font-size: 18px;
        }

        .infoNosotros__texto h2 {

            font-size: 22px;
            margin-bottom: 27px;

        }

        .infoNosotros__texto2 h2 {

            margin-bottom: 27px;
            font-size: 22px;

        }

        .infoNosotros__texto2 p {

            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 18px;
        }


        .infoNosotros__img2 {

            grid-column: 1/2;
            grid-row: 2/4;
        }
    }

}


@media (min-width:1025px) {


    .infoNosotros {
        display: grid;
        grid-area: "texto""imagen"
            "texto""imagen";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 35px;
        column-gap: 35px;
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 60px;


        .infoNosotros__texto h2 {

            font-size: 24px;
            margin-bottom: 29px;
        }

        .infoNosotros__texto p {

            font-size: 20px;
        }

        .infoNosotros__texto2 h2 {

            margin-bottom: 29px;
            font-size: 24px;

        }


        .infoNosotros__texto2 p {

            font-size: 20px;
        }


        .infoNosotros__img2 {

            grid-column: 1/2;
            grid-row: 2/4;
        }

    }

}


@media (min-width:769px) and (max-width:1024px) {

    .contenedorValoraciones h2 {
        margin-top: 25px;
        font-size: 22px;
    }

    .valoracion {
        max-height: 140px;

    }

    .valoracion__texto p {
        font-size: 18px;
    }


}

@media (min-width:1025px) {

    .contenedorValoraciones h2 {
        margin-top: 25px;
        font-size: 24px;
    }

    .valoracion {
        max-height: 150px;
    }


    .valoracion__texto p {
        font-size: 20px;
    }

}


//------------------------------------------------------------------ pagina index----------------------------------------------------------