/*----------------------------------------------------------Pagina Especialidades -------------------------------------------------------------------------*/


.containerEspecialidad {
   @include flex-direction (column);
    margin-bottom: 30px;

    h1 {
        color:map-get($map: $palette-colors, $key: primary-color );
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom: 30px;
        text-align: center;
    }

    .bloqueEspecialidad {
        @include flex-direction(column);
        .bloqueEspecialidad__info {
            margin-top: 20px;

            h2 {
                background-color:map-get($map: $palette-colors, $key: primary-color );
                text-align: center;
                padding: 15px;
                text-transform: uppercase;
                color: white;
                font-size: 20px;
            }


            p {
                text-align: left;
                font-size: 16px;
                margin: 10px 0px
            }

            ul {
                padding: 0;
                margin-top: 20px;
                ;
            }

            li {
                text-align: left;
                font-size: 16px;
                margin-bottom: 20px;
            }


        }

        .bloqueEspecialidad__img img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .bloqueEspecialidad__img2 img {

            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;


        }


        .bloqueEspecialidad__img4 img {

            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;

        }

    }

}
