/*----------------------------------------------------------Pagina Contacto -------------------------------------------------------------------------*/



.contenedorContacto {
    background-image: url(../Images/Fondo-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    max-width: 100%;

    .pruebaflex {
        display: flex;
        flex-direction: row;

        .formulario {
            background-color: $color-secundario;
            border-radius: 10px;
            margin: 230px auto;
            width: 90%;

            .formulario__fieldset {
                padding: 12px;
                border-style: none;
                margin: 10px auto;


                .formulario__legend {
                    font-family: 'Mukta', sans-serif;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: large;
                    color:$color-primario;
                }

                .formulario__label {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    padding-right: 20px;


                    .formulario__label__hijo {
                        color: $color-primario;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-family: $fuente-Secundaria;

                    }

                    .formulario__label__input {

                        border-radius: 5px;
                        padding: 10px;
                        border-style: none;
                        width: 100%;
                        font-size: 16px;
                    }

                    .formulario__label__input .formulario__textarea {
                        border-radius: 5px;
                        margin-bottom: 5px;
                        width: 100%;
                    }

                }

                .contenedorBtn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .contenedorBtn__hijo {
                        margin-top: 8px;
                        margin-left: 8px;
                        margin-right: 8px;


                        .contenedorBtn__boton {
                            padding: 8px;
                            border-radius: 5px;
                            border-style: none;
                            background-color: $color-primario;
                            color: white;
                            font-style: $fuente-Secundaria;
                            text-transform: uppercase;
                            font-weight: 600;

                        }
                    }

                }

            }
        }
    }

}

@media (min-width:769px) and (max-width: 1024px) {

    .formulario {
        width: 80%;

        .formulario__legend {

            font-size: 20px;
        }
        .formulario__label__hijo {

            font-size: 20px;
    
        }
    
        .formulario__label__input {
            padding: 5px
        }

        .contenedorBtn__boton {

            font-size: 16px;
    
        }

    }

}

@media (min-width:1025px) {

    .formulario {
        background-color: rgba(245, 245, 245, 70%);
        border-radius: 10px;
        margin: 230px auto;
        width: 70%;


        .formulario__legend {

            font-size: 24px;
            margin-top: 10px;
        }

        .formulario__label__hijo {
            font-size: 20px;
            margin: 10px 0;
        }

        .contenedorBtn__boton {

            padding: 18px;
            font-size: 16px;
        }
    
    }

}