/*----------------------------------------------------------Pagina staff -------------------------------------------------------------------------*/
.containerStaff {
 @include flex-direction (column);
    align-items: center;
  

    h1 {

        text-align: center;
        color: map-get($map: $palette-colors, $key: primary-color );
        font-family: map-get($map: $main-fonts, $key: f-main);;
        margin-top: 160px;
        margin-bottom: 60px;
        text-transform: uppercase;

    }


    .contenedorCard {
@include flex-direction (column);
        width: 95%;
        height: 95%;
        margin: 0 auto;

        .cards {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;

            img {
                @include objectFit-w-h;
            }

            .cards__info {
                width: 0%;
                height: 100%;
                top: 0px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: map-get($map: $palette-colors, $key: primary-color );
                transition: .5s all;
                border-radius: 10px;
                opacity: 0.8;

                p {
                    font-size: 18px;
                    text-transform: capitalize;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                }
            }


            &:hover .cards__info {
                width: 100%;
            }

        }



    }

    .styleRow {
        background-color: #4586BF;
        padding: 4rem;
        border-radius: 10px;
        align-items: center;

        h2 {
            text-transform: uppercase;
            color: white;
            text-align: center;
        }

        .btnFont h5 {

            font-weight: bold;
        }
    }

}








