/*----------------------------------------------------------Pagina Obras Sociales -------------------------------------------------------------------------*/


.contenedorOS {
    display: flex;
    height: 50vh;
    position: relative;



    .contenedorOS__img {
        background-image: url(/Images/Obras-sociales.jfif);
       @include background-image-prop;
        filter: grayscale(100%);
        width: 100%;

    }


    .contenedorOS__bg {
        top: 0px;
        position: absolute;
        background-color: map-get($map: $palette-colors, $key: primary-color );
        width: 50%;
        height: 100%;
        filter: opacity(75%);

        .contenedorOS__bg__titulo {
            position: relative;
            top: 35%;

            h1 {

                color: map-get($map: $palette-colors, $key: primary-color);
                font-family: $fuente-Secundaria;
                text-transform: uppercase;
                color: white;
                text-align: center;
                margin-top: 45px
            }


        }

    }
}


.styleOSbt {

    margin-top: 70px;


    .styleOSbt_box1 {
        background-color: map-get($map: $palette-colors, $key: primary-color );;
        border-radius: 10px;
        text-align: center;

       a {
            text-decoration: none;
        }

        &:hover {
            opacity: 80%;
        }
    }



    .styleOSbt_box2 {
        @extend .styleOSbt_box1;
        background-color: #78bbf6;
        

        &:hover {
            opacity: 80%;
        }

        a {
            text-decoration: none;
        }
    }



    .styleOSbt_box3 {
        @extend .styleOSbt_box1;
        background-color: #53A1E6;
        

        &:hover {
            opacity: 80%;
        }


        a {
            text-decoration: none;
        }

    }


    .styleOSbt_box4 {
        @extend .styleOSbt_box1;
        background-color: #498FCC;
      


       &:hover {
            opacity: 80%;
        }

       a {
            text-decoration: none;
        }
    }

    .styleOSbt_box5 {
        @extend .styleOSbt_box1;
        background-color: #0c5da4;


       &:hover {
            opacity: 80%;
        }


        a {
            text-decoration: none;
        }

    }

    .styleOSbt_box6 {
        @extend .styleOSbt_box1;
        background-color: #498FCC;
       

        &:hover {
            opacity: 80%;
        }

        a {
            text-decoration: none;
        }
    }




    .styleOSbt_box7 {
        @extend .styleOSbt_box1;
        background-color: #2f6da3;
  

        &:hover {
            opacity: 80%;
        }

        a {
            text-decoration: none;
        }

    }


    .styleOSbt_box8 {
        @extend .styleOSbt_box1;
        background-color: map-get($map: $palette-colors, $key: primary-color );;


       &:hover {
            opacity: 80%;
        }

        a {
            text-decoration: none;
        }

    }
}