.navbarBg {
    background-color: rgba(245, 245, 245, 0.903);
}

.navbarBg__logo {
    width: 85px;

}

.navLink {
    margin-left: 20px;
    text-decoration: none;
    font-family:  map-get($map: $main-fonts, $key: f-main);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    color: #4586bf;

    &:hover{  
        text-decoration: underline;                              
    }

    &:visited {
        color: #4586bf;
    }
    
}






