
$palette-colors: (
    secondary-color: #f5f5f5B3,
    primary-color: #4586bf,
    white-color: #F5F5F5,
color-blue-transparent: #4586bfd7
);

$main-fonts: (
f-main: 'Mukta', sans-serif,
f-secondary: 'Fira Sans Condensed', sans-serif
);