

@mixin flex-direction ($direction) {
    display: flex;
    justify-content: center;
}


@mixin background-image-prop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}



