

@mixin flex-direction ($direction) {
    display: flex;
    justify-content: center;
}


@mixin background-image-prop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}


@mixin objectFit-w-h{

object-fit: cover;
width: 100%;
height: 100%;
border-radius: 10px;
}



